@page
@model LoginModel
@{
    ViewData["Title"] = "Log In";

}
<div b-esyc55q667="" class="container">
    <main b-esyc55q667="" role="main" class="pb-3">

        <h1>Log in</h1>

        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <h3>Use a local account to log in.</h3>
                    <hr>
                    <div class="form-floating mb-3">
                        <input class="form-control" autocomplete="username" aria-required="true"  placeholder="name@example.com" type="email" data-val="true"
                            data-val-email="The Email field is not a valid e-mail address."  data-val-required="The Email field is required." asp-for="Input.Email" value="">
                        <label for="Input_Email">Email</label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" type="password" data-val="true"
                            data-val-length="The Password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6"
                            data-val-required="The Password field is required." maxlength="100" asp-for="Input.Password">
                        <label for="Input_Password">Password</label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password"
                            data-valmsg-replace="true"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    <hr>
                    <p>  User:  <b>admin@mytravelblog.com</b> </p>
                    <p> Password: <b>Pass@word1</b> </p>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h3>Use another service to register.</h3>
                    <hr>
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a
                                href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external
                                services</a>.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
