@page
@model RegisterModel
@{
    ViewData["Title"] = "Log In";

}
<div b-esyc55q667="" class="container">
    <main b-esyc55q667="" role="main" class="pb-3">

        <h1>Register</h1>

        <div class="row">
            <div class="col-md-4">
                @* <form id="registerForm" method="post" action="/Identity/Account/Register" novalidate="novalidate"> *@
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h3>Create a new account.</h3>
                    <hr>
                    <div class="form-floating mb-3">
                        <input class="form-control" autocomplete="username" aria-required="true"  placeholder="name@example.com" type="email" data-val="true"
                            data-val-email="The Email field is not a valid e-mail address."  data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">
                        <label for="Input_Email">Email</label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" type="password" data-val="true"
                            data-val-length="The Password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6"
                            data-val-required="The Password field is required." id="Input_Password" maxlength="100" name="Input.Password">
                        <label for="Input_Password">Password</label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" type="password" data-val="true"
                            data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="Input_ConfirmPassword" name="Input.ConfirmPassword">
                        <label for="Input_ConfirmPassword">Confirm Password</label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    @* <input name="__RequestVerificationToken" type="hidden"
                        value="CfDJ8M60LMQkvDNOtWN3dt2-e5L43iJj_hVrx3lBYGtRMHZHfuhdXvZAHDxxoWdpSwO2wOrEVxaVdUMJxNj3Kcht21ox29gvAoT7r7JLwFBXzp2E3H9YVlahURd_1lZaS7ZppD_w0KR7i5ccS_LN7ExFfp8"> *@
                </form>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h3>Use another service to register.</h3>
                    <hr>
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a
                                href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external
                                services</a>.
                        </p>
                    </div>
                </section>
            </div>
        </div>


    </main>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
