@page
@model IndexModel
@{
    ViewData["Title"] = "City";
}
<div class="container">

    <h1>Cities</h1>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.CityModel.Any())
        {
            @foreach(var c in Model.CityModel)
            {
                <tr>
                    @* <th scope="row">1</th> *@
                    <td>@c.Name</td>
                    <td>@c.Description</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</td>
            </tr>
        }
    </tbody>
    </table>

</div>