@page
@model IndexModel
@{
    ViewData["Title"] = "Continents";
}
<div class="container">

    <h1>@ViewData["Title"]</h1>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.ContinentModel.Any())
        {
            @foreach(var c in Model.ContinentModel)
            {
                <tr>
                    @* <th scope="row">1</th> *@
                    <td><a asp-page="/Country/Index" asp-route-id="@c.Id">@c.Name</a></td>
                    <td>@c.Description</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</td>
            </tr>
        }
    </tbody>
    </table>

</div>