@if (!Context!.User!.Identity!.IsAuthenticated)
{ 
    <a class="navbar-brand" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="navbar-brand" asp-area="Identity" asp-page="/Account/Register">Register</a>
}
else
{
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right"></form>
    <a class="navbar-brand" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
}