
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @if (!Context!.User!.Identity!.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Contact</a>
            </li>
            @await Component.InvokeAsync("Menu")
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/" asp-route-id="1">Admin User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Continent/Index" asp-route-id="1">Continents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Country/Index" asp-route-id="1">Countries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/City/Index" asp-route-id="1">Cities</a>
            </li>
        }
    </ul>
</div>